@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::selection {
    background-color: #4e54c8;
    color: white;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;

    background: var(--background);
    background: -webkit-linear-gradient(to left, #8f94fb, #4e54c8);  
    width: 100%;
    height: 100vh;

    overflow: hidden;

    font-family: 'Poppins', sans-serif;
    transition: .5s;
}

.container {
    background-color: var(--displayColor);

    border-radius: 30px;

    overflow: hidden;

    z-index: 2;

    transition: .5s;
}

header {
    width: 100%;
}

header .theme {
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: var(--keyboardButtonsColor);
    border-radius: 15px;
    
    width: 6.5rem;
    height: 2.5rem;
    
    margin: 2rem auto;
    margin-bottom: 0;
    font-size: 1.2rem;

    transition: .5s;
}

.theme div {
    display: flex;
    justify-content: center;
    align-items: center;
    
    width: 50%;
}

.theme .iconify {
    cursor: pointer;
    color: rgb(160, 160, 160);
    transition: .5s;
}

.lightTheme .theme div:first-of-type .iconify {
    color: black;
}

.darkTheme .theme div:last-of-type .iconify {
    color: white;
}

header .display {
    display: flex;
    align-items: center;
    justify-content: end;

    padding: 1rem;
    height: 18vh;
}

.display h1 {
    font-size: 2.5rem;
    max-width: 18rem;

    overflow: hidden;
    text-overflow: ellipsis;
    color: var(--text);

    transition: .5s;
}

main {
    user-select: none;
    display: flex;

    padding: 15px;

    border-top-left-radius: 30px;
    border-top-right-radius: 30px;

    background-color: var(--keyboardColor);

    transition: .5s;
}

main section {
    display: flex;
}

main .horizontalOperations button {
    color: #26fcd5;
}

main .verticalOperations button {
    color: #ec7777;
}

main .verticalOperations {
    flex-direction: column;
}

main .keyboard {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

main section button {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;

    width: 3.7rem;
    height: 3.7rem;
    
    margin: 10px;
    
    border-radius: 15px;
    border: 0;
    
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    font-size: 1.3rem;

    color: var(--text);
    background-color: var(--keyboardButtonsColor);

    transition: .5s;
}

main section button::before {
    position: absolute;
    content: "";

    width: 0rem;
    height: 0rem;

    border-radius: 15px;
    
    background-color: rgba(179, 174, 174, 0.185);

    transition: .1s;
}

main section button:active::before {
    width: 3.9rem;
    height: 3.9rem;
}

main section button .iconify {
    font-size: 2rem;
}

@media (max-height: 650px) {
    main section button {
        width: 3rem;
        height: 3rem;

        margin: 8px;

        font-size: 1rem;
        border-radius: 10px;
    }
}

@media (max-width: 390px) {
    main section button {
        width: 2.7rem;
        height: 2.7rem;

        margin: 6px;

        font-size: 1rem;
        border-radius: 10px;
    }

    main section button::before {
        border-radius: 10px;
    }

    main section button:active::before {
        width: 2.9rem;
        height: 2.9rem;
    }
    
    main section button .iconify {
        font-size: 1.5rem;
    }

    .display h1 {
        font-size: 1.5rem;
        max-width: 15rem;
    }
}

@media (max-width: 280px) {
    main section button {
        width: 2.2rem;
        height: 2.2rem;

        margin: 5px;

        font-size: .8rem;
    }

    main section button:active::before {
        width: 2.4rem;
        height: 2.4rem;
    }
}

@media (orientation: landscape) and (max-height: 400px) {
    .container {
        border-radius: 15px;
    }

    main {
        padding: 10px;
    }

    main section button {
        width: 2rem;
        height: 2rem;

        margin: 3px;

        font-size: .8rem;
    }

    main section button:active::before {
        width: 2.2rem;
        height: 2.2rem;
    }

    header .theme {
        margin: .8rem auto;
        font-size: 1rem;
        height: 2rem;
    }

    .display h1 {
        font-size: 1.2rem;
    }

    main section button .iconify {
        font-size: 1.4rem;
    }
}

@media (orientation: landscape) and (max-height: 580px) {
    main .verticalOperations {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    main .keyboard {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    }
}